@font-face {
    font-family: "Chakra Petch";
    src: url(ChakraPetch-Regular.ttf);
    font-display: swap;
}

:root {
    --main-bg-color: #a0583c;
    --main-font:'Chakra Petch', sans-serif;

  }
html, body{
    margin: 0;
    min-width: 344px;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: black;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid var(--main-bg-color);
}

.language{
    position: fixed;
    height: fit-content;
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 4px;
    padding: 4px;
    right: 1%;
   
}

.language img{
    width: 20px;
   height: 15px;
}
  

header{
    background-color: black;
    /* background-image: url("images/"); */
    background-repeat: no-repeat;
    /* background-size: 100%; */
    margin: 0px;
    font-family: var(--main-font);
    /* display: flex;
    justify-content: flex-end; */
    /* padding: 10% 7%; */
    color: #FFFFFF;
    height: 100svh;
    width: 100svw;
    /* height: 100%; */
    /* overflow: hidden; */
    
}

.mars{
    /* position: absolute; */
    position: relative;
    left: -20%;
    height: 100%;
    width: auto;
}

.spin{
    animation: spin 130s infinite;
 
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

header div{
    /* background-color: rgb(255, 177, 60); */
    /* margin-left: 70%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: small;
    margin: 0px;

}

header div h2{
    padding-right: 10%;
    /* width: 260px; */
}

.arrow{
    background-image: url("images/Arrow.png");
    position: relative;
    bottom: 6%;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
    background-size: cover;
    width: 47px;
}

.bounce{
    animation: bounce 2s infinite;

}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

h2{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: larger;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--main-bg-color);
    color: #f5f5f5;
    font-family: var(--main-font);
    /* scroll-behavior: smooth; */
    /* padding-top: 10%; */
}

main input{
    background-color: var(--main-bg-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: large;
    border-style: none;
    border: none;
    border-bottom: #f5f5f5 solid 1px;
    margin-bottom: 30px;
    color: #f5f5f5;
}

main input:focus{
    outline: none;
}

input{
    padding-top: 50pxs;
}

#planetImage{
    /* width: auto; */
    height: 60px;
}

.planets{
    display: grid;
    grid-template-columns: auto ;
    flex-direction: column;
    gap: 20px;

}

.planet{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* height: 5%; */
}

.eng{
    /* position: absolute; */

}

.nor{
    /* position: absolute; */
    display: none;
}



@media screen and (max-height: 690px) {
    body{
        /* max-width: 100svw; */
    }
    #planetImage{
    height: 30px;
    }
    h3{
        font-size: small;
    }
    .planets{
        gap:18px;
    }
    .main input{
        margin-bottom: 10px;
    }
    header{
        min-height: 100vh;
    }
    main{
        min-height: 100vh;

    }
}

@media screen and (min-width: 500px) {
  
    header div{
        text-align: center;
    }
    .arrow{
        bottom:5%;
        left: 50%;
    }
    .mars{
      
        width: 100%;
        height: auto;    }

}

@media screen and (min-width: 600px) {
  
    header div{
        text-align: center
    }
    .arrow{
        bottom:5%;
        left: 50%;
    }
    /* .mars{
        position: absolute;
        left: -50%;
        top: 10%;
        width: 80%;
        height: auto;    } */

}

@media screen and (min-width: 830px){
    .arrow{
        background-image: url("images/ArrowB.png");
    }
    /* .mars{
        position: absolute;
        left: -60%;
        top: 20%;
width: 130%;
    height: auto;    } */
}

@media screen and (min-width: 1200px) {
    .mars{
        /* display: none; */
        z-index: 0;
        width: auto;
        height: 100%;
        padding: 50px 0;

    }
    header{
        /* background-image: url("images/marsHeader.jpg"); */
        height: 30vh;
        background-size: 100%;
        background-position: left;
    }

    header div{
    }
    h2{
        writing-mode: horizontal-tb;
        text-orientation: upright;
        font-size: larger;
        margin-right: 120px;
    }
    main{
        height: 70vh;
        z-index: 1;
    }
    .arrow{
        visibility: hidden;
    }
    .planets{
        grid-template-columns: auto auto auto;
        gap: 60px;
        column-gap: 160px;
    }

}

